<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>Menu</mat-icon>
        </button>
        <span>APP LOGO</span>
        <div fxFlex fxLayout="row" fxLayoutAling="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>Help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">Person_Outline</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item> <mat-icon>exit_to_app</mat-icon> Sign Out</button>
</mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
